/* PREMIUM CONTENT SECTION */
.premium-content {
  text-align: center;
  background: url(../images/premium-content-bg.png) no-repeat;
  background-position: center;
  background-size: cover;
  padding-block: var(--section-padding2);
}

/* SECTION TITLE AND TEXT */
.premium-content-title {
  text-align: center;
  text-decoration: overline;
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 22px;
  padding: 12px;
  border-radius: 12px;
  color: var(--gold2);
  background: var(--bg2);
  text-transform: uppercase;
}

.premium-content-wrapper {
  background: var(--bg2);
  padding: 8px;
  border-radius: 12px;
  line-height: 1.5;
  box-shadow: 2px 2px 1px 1px var(--gold);
  transition: var(--transition-1);
}

.premium-content-wrapper:is(:hover, :focus) {
  background: var(--bg);
}

.premium-content-wrapper,
a:hover {
  cursor: pointer;
}

.premium-content .premium-content-text {
  margin: 25px 0;
  font-weight: 700;
  color: var(--pink);
  font-size: 16px;
  transition: var(--transition-1);
  text-transform: uppercase;
  letter-spacing: 1px;
}

.premium-content .premium-content-text>strong {
  color: var(--gold2);
  font-size: 26px;
}

.premium-content .premium-content-text:hover {
  color: var(--white);
}

/* NEWSLETTER */
.newsletter-title {
  margin: 82px 0 12px 0;
  font-size: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--white);

}

.newsletter {
  border-radius: 8px;
  padding: 10px 20px;
  box-shadow: 0 3px 4px hsla(0, 0%, 0%, 0.2);
  text-align: center;
}

.newsletter-btn {
  background: var(--bg2);
  color: var(--pink);
  padding: 12px 28px;
  letter-spacing: 1px;
  font-size: 14px;
  font-weight: 700;
  border-radius: 9px;
  margin-inline: auto;
  margin-top: 12px;
  text-transform: uppercase;
  box-shadow: 2px 2px 1px 1px var(--gold);
  transition: var(--transition-1);
}

.newsletter-btn:is(:hover, :focus) {
  background: var(--bg);
  color: var(--white);
}

.see-more-bundles {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px 0;
}

.see-more-bundles-btn {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
  border: 1px solid var(--jet);
  padding: 10px 22px;
  color: var(--gold2);
  background: var(--black);
  border-radius: 18px;
  transition: var(--transition-1);
}

.see-more-bundles-btn:hover {
  background: var(--gold2);
  color: var(--rich-black-fogra-29);
}