/* TOP RATED SERIES SECTION */
.top-rated-series {
  padding-block: var(--section-padding2);
  background: url("../images/highlights-bg.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

.top-rated-series .flex-wrapper {
  margin-bottom: 30px;
}

/* SECTION TITLE AND SUBTITLE */
.section-subtitle-series {
  text-align: center;
  text-decoration: overline;
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 22px;
  color: var(--gold2);
  text-transform: uppercase;
}

.section-title-series {
  text-align: center;
  font-size: 16px;
  margin-bottom: 30px;
  color: var(--white);
}

.section-title-series strong {
  text-transform: uppercase;
  color: var(--gold2);
}

/* WHERE TO WATCH SERIES BUTTON */
.where-to-watch-series a {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--black);
  color: var(--citrine);
  font-size: 12px;
  padding: 8px;
  border-radius: 10px;
  transition: var(--transition-1);
}

.where-to-watch-series a:hover {
  background: var(--bg);
}

.where-to-watch-series svg {
  margin-left: 5px;
}

/* CUSTOM SLIDER */
.top-rated-series .top-rated-series-list>li {
  min-width: 100%;
  scroll-snap-align: start;
}

.top-rated-series-list.scrollbar {
  display: flex;
  justify-content: flex-start;
  overflow-x: auto;
  scroll-snap-type: inline mandatory;
  gap: 50px;
  padding-bottom: 20px;
}

.scrollbar::-webkit-scrollbar {
  height: 8px;
}

.scrollbar::-webkit-scrollbar-track {
  background: transparent;
  box-shadow: 0 0 0 2px var(--jet);
  border-radius: 3px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: var(--gold);
  box-shadow: inset 0 1px 0 var(--black);
  border-radius: 3px;
}

.see-more {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 48px;
}

.see-more-btn {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
  border: 1px solid var(--jet);
  padding: 10px 22px;
  color: var(--gold2);
  background: var(--black);
  border-radius: 18px;
  transition: var(--transition-1);
}

.see-more-btn:hover {
  background: var(--gold2);
  color: var(--rich-black-fogra-29);
}